.fotoPerfil{
    max-width: 380px;
    min-width: 200px;
    height: 380px;
    border: 5px red;
    margin: auto;
}

.mainDevs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    padding-right: 180px;
    padding: 180px;    
}

.cardDev{
    margin: auto;
    margin-top: 20px; 
    margin-bottom: 20px;
    text-align: center;
    min-width: 300px;
}

.nameDev{
    background: linear-gradient(to left, rgb(197, 0, 0), rgb(252, 115, 42), rgb(197, 0, 0));
    font-size: 24px;
}

.header{
    background: linear-gradient(to left, rgb(197, 0, 0), rgb(252, 115, 42), rgb(197, 0, 0));
    border: 5px solid rgb(0, 0, 0);
    padding: 0px;
    text-align: center;
    text-decoration-color: aliceblue;
}
.header h1{    
    font-size: xx-large;
    font-style: oblique;
    margin-top: 20px;
    margin-bottom: 20px;
    background: linear-gradient(to left, rgb(197, 0, 0), rgb(252, 115, 42), rgb(197, 0, 0));
}

.header h2{    
    background: linear-gradient(to left, rgb(197, 0, 0), rgb(252, 115, 42), rgb(197, 0, 0));
}
