.juego{
    background-color: blueviolet;
    text-align: center;
    text-decoration: solid;
    font-size: x-large;
    font-style: inherit;
    border: 5px solid;
    padding: auto;
    margin: auto;
}

img{
    height: 150px;
    display: flex;
    padding: 10px;
    margin: 10px;
}

.juego h1{
    background-color: rgb(197, 104, 104);
    font-size: x-large;
    font-style: oblique;
    border: 5px solid; 
    padding: 1px;
    margin: 0% 2% 10px;
    padding-bottom: auto;
    display: inline-block;
}
.juego h3{
    background-color: rgb(29, 13, 245);
    display: inline-block;
    border: 5px solid;
    font-size: x-large;
    font-style: italic;
    padding: auto;
    margin: 50px;
}
.juego h4{
    background-color: rgb(250, 12, 12);
    display: inline-block;
    border: 5px solid;
    font-size: x-large;
    font-style: italic;
    padding: auto;
    margin: 50px;
}